# Copyright 2022-2025 Chris Croome
#
# This file is part of the Webarchitects systemd Ansible role.
#
# The Webarchitects systemd Ansible role is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
#
# The Webarchitects Ansible role is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License along with the Webarchitects systemd Ansible role. If not, see <https://www.gnu.org/licenses/>.
---
- name: Start systemd unit
  block:

    - name: Check the state of services
      ansible.builtin.service_facts:
      register: systemd_service_facts

    - name: Start systemd service unit in a block to catch failures for debugging
      block:

        - name: "Systemd unit started when not running or not active for {{ systemd_unit.name }}"
          ansible.builtin.systemd_service:
            name: "{{ systemd_unit.name }}"
            state: started
          vars:
            systemd_service_jpq: 'ansible_facts.services.["{{ systemd_unit.name }}.service"]|[0]'
          register: systemd_service_started
          until:
            - systemd_service_started.status is defined
            - systemd_service_started.status.SubState is defined
            - (systemd_service_started.status.SubState == "running") or (systemd_service_started.status.SubState == "exited")
            - systemd_service_started.status.Result is defined
            - systemd_service_started.status.Result == "success"
          retries: 5
          delay: 2
          when: >-
            (((systemd_service_facts | community.general.json_query(systemd_service_jpq)).state is defined) and
            ((systemd_service_facts | community.general.json_query(systemd_service_jpq)).state != "running")) or
            (((systemd_service_facts | community.general.json_query(systemd_service_jpq)).status.ActiveState is defined) and
            ((systemd_service_facts | community.general.json_query(systemd_service_jpq)).status.ActiveState != "active"))

      rescue:

        - name: Debug systemd_service_facts
          ansible.builtin.debug:
            var: systemd_service_facts

        - name: "Debug (systemd_service_facts | community.general.json_query({{ systemd_service_jpq }})).state"
          ansible.builtin.debug:
            msg: "{{ (systemd_service_facts | community.general.json_query(systemd_service_jpq)).state }}"
          vars:
            systemd_service_jpq: 'ansible_facts.services.["{{ systemd_unit.name }}.service"]|[0]'

        - name: "Debug (systemd_service_facts | community.general.json_query({{ systemd_service_jpq}} )).status.ActiveState }}"
          ansible.builtin.debug:
            msg: "{{ (systemd_service_facts | community.general.json_query({{ systemd_service_jpq}} )).status.ActiveState }}"
          vars:
            systemd_service_jpq: 'ansible_facts.services.["{{ systemd_unit.name }}.service"]|[0]'

        - name: Debug systemd_service_started
          ansible.builtin.debug:
            var: systemd_service_started

        - name: "Fail as starting {{ systemd_unit.name }} failed."
          ansible.builtin.fail:

    - name: "Debug the results from starting the systemd service {{ systemd_unit.name }}"
      ansible.builtin.debug:
        var: systemd_service_started
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Restart the service, in a block to catch failures for debugging, when the unit file has changed
      block:

        - name: Check the state of services
          ansible.builtin.service_facts:
          register: systemd_service_facts

        - name: "Systemd unit restarted when unit file(s) are changed for {{ systemd_unit.name }}"
          ansible.builtin.systemd_service:
            name: "{{ systemd_unit.name }}"
            state: restarted
          vars:
            systemd_service_jpq: 'ansible_facts.services.["{{ systemd_unit.name }}.service"]|[0]'
          register: systemd_service_restarted
          until:
            - systemd_service_restarted.status is defined
            - systemd_service_restarted.status.SubState is defined
            - (systemd_service_started.status.SubState == "running") or (systemd_service_started.status.SubState == "exited")
            - systemd_service_restarted.status.Result is defined
            - systemd_service_restarted.status.Result == "success"
          retries: 5
          delay: 2
          when: >-
            (((systemd_service_facts | community.general.json_query(systemd_service_jpq)).state is defined) and
            ((systemd_service_facts | community.general.json_query(systemd_service_jpq)).state == "running")) or
            (((systemd_service_facts | community.general.json_query(systemd_service_jpq)).status is defined) and
            ((systemd_service_facts | community.general.json_query(systemd_service_jpq)).status.ActiveState is defined) and
            ((systemd_service_facts | community.general.json_query(systemd_service_jpq)).status.ActiveState == "active"))

      rescue:

        - name: Debug systemd_service_facts
          ansible.builtin.debug:
            var: systemd_service_facts

        - name: "Debug (systemd_service_facts | community.general.json_query({{ systemd_service_jpq }})).state"
          ansible.builtin.debug:
            msg: "{{ (systemd_service_facts | community.general.json_query(systemd_service_jpq)).state }}"
          vars:
            systemd_service_jpq: 'ansible_facts.services.["{{ systemd_unit.name }}.service"]|[0]'

        - name: "Debug (systemd_service_facts | community.general.json_query({{ systemd_service_jpq}} )).status.ActiveState }}"
          ansible.builtin.debug:
            msg: "{{ (systemd_service_facts | community.general.json_query({{ systemd_service_jpq}} )).status.ActiveState }}"
          vars:
            systemd_service_jpq: 'ansible_facts.services.["{{ systemd_unit.name }}.service"]|[0]'

        - name: Debug systemd_service_restarted
          ansible.builtin.debug:
            var: systemd_service_restarted

        - name: "Fail as restarting {{ systemd_unit.name }} failed."
          ansible.builtin.fail:

      when: systemd_file_changed | bool

    - name: "Debug the results from (re)starting the systemd service {{ systemd_unit.name }}"
      ansible.builtin.debug:
        var: systemd_service_restarted
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      when: systemd_service_restarted is defined
      tags:
        - debug

    - name: "Systemd daemon-reload for {{ systemd_unit.name }}"
      ansible.builtin.systemd_service:
        daemon_reload: true
      when:
        - systemd_service_started.status.NeedDaemonReload is defined
        - systemd_service_started.status.NeedDaemonReload == "yes"

    - name: Update Ansible service facts
      ansible.builtin.service_facts:
      register: systemd_service_facts

    - name: Debug systemd_service_facts
      ansible.builtin.debug:
        var: systemd_service_facts
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: Gather all systemd unit info
      community.general.systemd_info:
      register: systemd_info

    - name: Debug systemd_info
      ansible.builtin.debug:
        var: systemd_info
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}1{% else %}2{% endif %}"
      tags:
        - debug

    - name: "Debug systemd_info for {{ systemd_unit.name }}"
      ansible.builtin.debug:
        msg: "{{ systemd_info | community.general.json_query(systemd_info_jpq) }}"
        verbosity: "{% if ansible_check_mode | bool or ansible_diff_mode | bool %}0{% else %}1{% endif %}"
      vars:
        systemd_info_jpq: 'units.["{{ systemd_unit.name }}.service"]|[0]'
      tags:
        - debug

    - name: Check that the service is enabled
      ansible.builtin.assert:
        that:
          - (systemd_service_facts | community.general.json_query(systemd_service_jpq)).status is defined
          - (systemd_service_facts | community.general.json_query(systemd_service_jpq)).status == "enabled"
        quiet: true
        fail_msg: "{{ systemd_service_fail_msg | ansible.builtin.regex_replace('[ ][ ]', ' ') | trim }}"
      vars:
        systemd_service_jpq: 'ansible_facts.services.["{{ systemd_unit.name }}.service"]|[0]'
        systemd_service_fail_msg: >-
          The {{ systemd_unit.name }}.service
          {% if (systemd_service_facts | community.general.json_query(systemd_service_jpq)).status is defined %}
          {%     if (systemd_service_facts | community.general.json_query(systemd_service_jpq)).status != "enabled" %} status
          is {{ (systemd_service_facts | community.general.json_query(systemd_service_jpq)).status }} when it should be enabled
          {%     endif %}
          {% else %}
          status appears not to be defined, the JMESPath query used to check the service facts was {{ systemd_service_jpq }}
          {% endif %}

    - name: Check that the service is running or exited and active
      ansible.builtin.assert:
        that: >-
          (((systemd_service_facts | community.general.json_query(systemd_service_jpq)).state is defined) and
          ((systemd_service_facts | community.general.json_query(systemd_service_jpq)).state == "running")) or
          (((systemd_info | community.general.json_query(systemd_info_jpq)).activestate == "active") and
          ((systemd_info | community.general.json_query(systemd_info_jpq)).substate == "exited"))
        quiet: true
        fail_msg: "{{ systemd_service_fail_msg | ansible.builtin.regex_replace('[ ][ ]', ' ') | trim }}"
      vars:
        systemd_info_jpq: 'units.["{{ systemd_unit.name }}.service"]|[0]'
        systemd_service_jpq: 'ansible_facts.services.["{{ systemd_unit.name }}.service"]|[0]'
        systemd_service_fail_msg: >-
          The {{ systemd_unit.name }}.service
          {% if (systemd_service_facts | community.general.json_query(systemd_service_jpq)).state is defined %}
          {%     if (systemd_service_facts | community.general.json_query(systemd_service_jpq)).state != "running" %}state
          is {{ (systemd_service_facts | community.general.json_query(systemd_service_jpq)).state }} when
          it should be running
          {%     endif %}
          {% elif (systemd_info | community.general.json_query(systemd_info_jpq)).substate is defined %}
          {%     if (systemd_info | community.general.json_query(systemd_info_jpq)).activestate != "active" %}activestate
          is {{ (systemd_info | community.general.json_query(systemd_info_jpq)).activestate }} when it should be active
          {%     endif %}
          {%     if (systemd_info | community.general.json_query(systemd_info_jpq)).substate != "exited" %}substate
          is {{ (systemd_info | community.general.json_query(systemd_info_jpq)).substate }} when it should be exited
          {%     endif %}
          {% else %}
          state appears not to be defined, the JMESPath query used to check the service facts was {{ systemd_service_jpq }}
          or info appears not to be defined, the JMESPath query used to check the service info was {{ systemd_info_jpq }}
          {% endif %}

  tags:
    - systemd
...
