{{ ansible_managed | ansible.builtin.comment }}

{% if systemd_file.comment is defined %}
# BEGIN ANSIBLE MANAGED BLOCK
{{ systemd_file.comment | ansible.builtin.comment }}
# END ANSIBLE MANAGED BLOCK
{% endif %}

{% for systemd_section in systemd_file.conf | dict2items %}
[{{ systemd_section.key }}]
{% for systemd_variable_pair in systemd_section.value | dict2items %}
{{ systemd_variable_pair.key }}={{ systemd_variable_pair.value }}
{% endfor %}

{% endfor %}

# vim: ft=systemd:
