# {{ ansible_managed }}

{% if systemd_file.comment is defined %}
# BEGIN ANSIBLE MANAGED BLOCK
{% for systemd_comment_line in systemd_file.comment.split('\n') %}
# {{ systemd_comment_line }}
{% endfor %}
# END ANSIBLE MANAGED BLOCK
{% endif %}

{% for systemd_section in systemd_file.conf | dict2items %}
[{{ systemd_section.key }}]
{% for systemd_variable_pair in systemd_section.value | dict2items %}
{{ systemd_variable_pair.key }}={{ systemd_variable_pair.value }}
{% endfor %}

{% endfor %}

# vim: ft=systemd:
